@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Poppins&display=swap");
body {
  background-color: #e5e5e5;
}

.card_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_wrapper .outer_card {
  position: relative;
  background-color: #1e1d4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 24px;
}

.card_wrapper .outer_card .inner_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  background-color: #ffffff;
  width: 1017px;
  height: 600px;
  border-radius: 24px;
}

.inner_card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 64px;
  gap: 54px;
}

.inner_card_content .main_title {
  display: block;
}

.inner_card_content .main_title .main_header {
  text-align: center;
  font-size: 24px;
  color: #1e1d4e;
  font-family: Merriweather;
  font-weight: 900;
}

.inner_card_content .main_title .desc {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Poppins;
  color: #1e1d4e;
  font-weight: 500;
  font-size: 16px;
}

.inner_card_content .main_title .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner_card_content .main_title .buttons .subscriptions_links {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  height: 32px;
}

.inner_card_content .main_title .buttons .subscriptions_links .subscription_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #f3f2fb;
  border-radius: 20px;
  padding-inline: 8px;
}

.inner_card_content .main_title .buttons .subscriptions_links .subscription_buttons .button_text {
  display: block;
  color: #1e1d4e;
  font-family: Poppins;
  font-size: 16px;
  text-align: center;
  color: #1e1d4e;
  font-weight: 500;
  cursor: pointer;
  padding-left: 8px;
}

.inner_card_content .personnel_cards .ul_people {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.inner_card_content .personnel_cards .ul_people .arrow_div {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner_card_content .personnel_cards .ul_people .people_form .ul_form {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.inner_card_content .personnel_cards .ul_people .people_form .ul_form .li_photo {
  text-align: center;
}

.inner_card_content .personnel_cards .ul_people .people_form .ul_form .li_name {
  color: #1e1d4e;
  font-family: Merriweather;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
}

.inner_card_content .personnel_cards .ul_people .people_form .ul_form .li_job {
  color: #1e1d4e;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.inner_card_content .personnel_cards .ul_people .people_form .ul_form .li_view_content {
  text-align: center;
  border-radius: 29px;
  font-size: 14;
  font-family: Poppins;
  padding-inline: 16px;
  padding-block: 8px;
  color: #ffffff;
  background-color: #1e1d4e;
}

.inner_card_content .personnel_cards .ul_people .people_form .ul_form .li_view_content .view_content_text {
  color: #ffffff;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */