@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  list-style: none;
}

body {
  background-color: #e8e8fd;
}

.card_wrapper .orange_card {
  width: 276px;
  height: 1009px;
  background-color: #ee4d38;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 46px;
}

.card_wrapper .orange_card .main_card {
  width: 1319px;
  height: 879px;
  background-color: #ffffff;
  position: absolute;
  margin-left: 61px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.account_panel {
  height: 879px;
  width: 260px;
  background-color: #f8f8ff;
  border-radius: 32px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.account_panel .account_panel_upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: 16px;
}

.account_panel .account_panel_upper .account_detail {
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}

.account_panel .account_panel_upper .account_detail .account_owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.account_panel .account_panel_upper .account_detail .account_owner .text {
  font-family: "Poppins";
  color: #62618f;
}

.account_panel .account_panel_upper .account_detail .account_owner .name {
  font-weight: bold;
  font-size: 16px;
  color: #1a194d;
}

.account_panel .account_panel_upper .account_detail .account_owner .acc_id {
  font-size: 14px;
}

.account_panel .account_panel_upper .ul_panel {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px;
  margin-top: 40px;
  width: 174px;
}

.account_panel .account_panel_upper .ul_panel .ul_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.account_panel .account_panel_upper .ul_panel .ul_items .item_text {
  font-family: "Poppins";
  font-size: 14px;
  color: #62618f;
}

.account_panel .footer {
  position: absolute;
  bottom: 70px;
  margin-left: 16px;
}

.account_panel .footer .footer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account_panel .footer .footer_item .item_text {
  font-family: "Poppins";
  font-size: 14px;
  color: #62618f;
}

.billing_title {
  font-size: 32px;
  font-family: "Poppins";
  font-weight: 900;
  color: #1a194d;
  margin-top: 70px;
  margin-bottom: 49px;
}

.main_panel {
  gap: 16px;
  margin-left: 56px;
}

.main_panel .main_panel_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_panel .main_panel_content .main_panel_orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 67px;
}

.main_panel .main_panel_content .main_panel_orders .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.main_panel .main_panel_content .main_panel_orders .description .desc_title {
  color: #1a194d;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 800;
  margin-bottom: 14px;
}

.main_panel .main_panel_content .main_panel_orders .description .desc {
  color: #62618f;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 500;
}

.main_panel .main_panel_content .main_panel_orders .order_table .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.main_panel .main_panel_content .main_panel_orders .order_table .table .headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_panel .main_panel_content .main_panel_orders .order_table .table .headers .header_text {
  font-family: "Poppins";
  font-size: 14px;
  color: #62618f;
  width: 150px;
  text-align: start;
}

.main_panel .main_panel_content .main_panel_orders .order_table .table .rows {
  color: #1a194d;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 114px;
  padding-block: 16px;
}

.main_panel .main_panel_content .main_panel_orders .order_table .table .rows .row_text {
  color: #1a194d;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: bold;
  display: inline-block;
  width: 150px;
}

.main_panel .main_panel_content .main_panel_orders .order_table .table .rows .download {
  text-decoration: none;
  border: solid;
  border-radius: 8px;
  border-color: #cbcbd9;
  padding-block: 8px;
  cursor: pointer;
}

.main_panel .main_panel_content .main_panel_orders .order_table .table .rows .download .download_text {
  color: #1a194d;
  padding-inline: 16px;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: bold;
}

.main_panel .main_panel_content .main_panel_orders .order_table .loadmore {
  margin-top: 16px;
  margin-bottom: 105px;
}

.main_panel .main_panel_content .main_panel_orders .order_table .loadmore .loadmore_link {
  color: #ee4d38;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 600;
}

.main_panel .main_panel_content .main_panel_orders .order_table .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_panel .main_panel_content .main_panel_orders .order_table .payment .credit_card .ul_payment {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 16px;
}

.main_panel .main_panel_content .main_panel_orders .order_table .payment .credit_card .ul_payment .ul_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_panel .main_panel_content .main_panel_orders .order_table .payment .credit_card .ul_payment .ul_items .visa_icon {
  border: solid;
  border-radius: 8px;
  border-color: #cbcbd9;
  padding: 10px;
}

.main_panel .main_panel_content .main_panel_orders .order_table .payment .credit_card .ul_payment .ul_items .visa_ending {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  color: #1a194d;
  width: 420px;
}

.main_panel .main_panel_content .main_panel_orders .order_table .payment .credit_card .ul_payment .ul_items .remove_button {
  color: #1a194d;
  background-color: #ffffff;
  padding-inline: 16px;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: bold;
  border: solid;
  border-radius: 8px;
  border-color: #cbcbd9;
  padding-block: 8px;
  cursor: pointer;
}

.main_panel .main_panel_content .subscription_card {
  width: 258px;
  height: 221px;
  background-color: #ee4d38;
  border-radius: 16px;
}

.main_panel .main_panel_content .subscription_card .subs_plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 16px;
  margin: 32px;
}

.main_panel .main_panel_content .subscription_card .subs_plan .text {
  color: #ffffff;
  font-family: "Poppins";
  font-size: 16px;
}

.main_panel .main_panel_content .subscription_card .subs_plan .text .plan {
  font-weight: bold;
  font-size: 24px;
}

.main_panel .main_panel_content .subscription_card .subs_plan .text .renew {
  font-size: 14px;
}

.main_panel .main_panel_content .subscription_card .subs_plan .cancel_subs {
  text-decoration: none;
  border: solid;
  border-radius: 8px;
  border-color: #cbcbd9;
  padding-block: 8px;
  padding-inline: 8px;
  cursor: pointer;
}

.main_panel .main_panel_content .subscription_card .subs_plan .cancel_subs .cancel_subs_text {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */