@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$body: #e8e8fd;
$orange_bg: #ee4d38;
$white_bg: #ffffff;
$account_bg: #f8f8ff;
$name_colour: #1a194d;
$text_colour: #62618f;
$border_colour: #cbcbd9;
$loadmore: #ee6338;

* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    list-style: none;
}

.card_wrapper {
    width: 1600px;
    height: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $body;

    .orange_card {
        width: 276px;
        height: 1009px;
        margin-left: 50px;
        background-color: $orange_bg;
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 46px;

        .main_card {
            width: 1319px;
            height: 879px;
            background-color: $white_bg;
            position: absolute;
            margin-left: 61px;
            border-radius: 30px;

            display: flex;
            justify-content: flex-start;
            align-content: center;
        }
    }
}

.account_panel {
    height: 879px;
    width: 260px;
    background-color: $account_bg;
    border-radius: 32px;

    display: grid;
    justify-content: stretch;
    align-items: flex-start;

    .account_panel_upper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: 16px;

        .account_detail {
            margin-top: 58px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            gap: 14px;

            .account_owner {
                display: flex;
                flex-direction: column;

                .text {
                    font-family: "Poppins";
                    color: $text_colour;
                }

                .name {
                    font-weight: bold;
                    font-size: 16px;
                    color: $name_colour;
                }

                .acc_id {
                    font-size: 14px;
                }
            }
        }

        .ul_panel {
            list-style: none;
            padding: 0;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 40px;
            margin-top: 40px;
            width: 174px;

            .ul_items {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;

                .item_text {
                    font-family: "Poppins";
                    font-size: 14px;
                    color: $text_colour;
                }
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 70px;
        margin-left: 40px;

        .footer_item {
            display: flex;
            justify-content: center;
            align-items: center;

            .item_text {
                font-family: "Poppins";
                font-size: 14px;
                color: $text_colour;
            }
        }
    }
}

.billing_title {
    font-size: 32px;
    font-family: "Poppins";
    font-weight: 900;
    color: $name_colour;
    margin-top: 70px;
    margin-bottom: 49px;
}

.main_panel {
    gap: 16px;
    margin-left: 56px;

    .main_panel_content {
        display: flex;
        .main_panel_orders {
            display: flex;
            flex-direction: column;
            margin-right: 67px;
            .description {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                margin-bottom: 50px;

                .desc_title {
                    color: $name_colour;
                    font-size: 16px;
                    font-family: "Poppins";
                    font-weight: 800;
                    margin-bottom: 14px;
                }

                .desc {
                    color: $text_colour;
                    font-size: 14px;
                    font-family: "Poppins";
                    font-weight: 500;
                }
            }

            .order_table {
                .table {
                    width: 100%;
                    font-family: "Poppins";

                    .headers {
                        font-size: 14px;
                        color: $text_colour;
                        text-align: left;
                    }

                    .rows {
                        color: $name_colour;

                        td {
                            padding-block: 30px;
                        }

                        .row_text {
                            color: $name_colour;
                            font-size: 16px;
                            font-family: "Poppins";
                            font-weight: bold;
                            display: inline-block;
                        }

                        .download {
                            text-decoration: none;
                            border: solid;
                            border-radius: 8px;
                            border-color: $border_colour;
                            padding-block: 8px;
                            cursor: pointer;

                            .download_text {
                                color: $name_colour;
                                padding-inline: 16px;
                                font-size: 16px;
                                font-family: "Poppins";
                                font-weight: bold;
                            }
                        }
                    }
                }

                .loadmore {
                    .loadmore_link {
                        color: $orange_bg;
                        cursor: pointer;
                        font-family: "Poppins";
                        font-weight: 600;
                    }
                    margin-top: 16px;
                    margin-bottom: 40px;
                }

                .payment {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .credit_card {
                        .ul_payment {
                            list-style: none;
                            padding: 0;
                            margin: 0;

                            display: flex;
                            justify-content: flex-start;
                            align-content: center;

                            .ul_items {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .visa_icon {
                                    border: solid;
                                    border-radius: 8px;
                                    border-color: $border_colour;
                                    padding: 10px;
                                }

                                .visa_ending {
                                    font-family: "Poppins";
                                    font-size: 16px;
                                    font-weight: 600;
                                    color: $name_colour;
                                    width: 420px;
                                }

                                .remove_button {
                                    color: $name_colour;
                                    background-color: $white_bg;
                                    padding-inline: 16px;
                                    font-size: 16px;
                                    font-family: "Poppins";
                                    font-weight: bold;
                                    border: solid;
                                    border-radius: 8px;
                                    border-color: $border_colour;
                                    padding-block: 8px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }

        .subscription_card {
            width: 258px;
            height: 221px;
            background-color: $orange_bg;
            border-radius: 16px;

            .subs_plan {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 16px;
                margin: 32px;

                .text {
                    color: $white_bg;
                    font-family: "Poppins";
                    font-size: 16px;

                    .plan {
                        font-weight: bold;
                        font-size: 24px;
                    }

                    .renew {
                        font-size: 14px;
                    }
                }

                .cancel_subs {
                    text-decoration: none;
                    border: solid;
                    border-radius: 8px;
                    border-color: $border_colour;
                    padding-block: 8px;
                    padding-inline: 8px;
                    cursor: pointer;

                    .cancel_subs_text {
                        text-decoration: none;
                        color: $white_bg;
                        font-size: 16px;
                        font-family: "Poppins";
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
