@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&display=swap');

$background: #E5E5E5;
$white_card: #FFFFFF;
$button_background: #F3F2FB;
$button_text: #1E1D4E;

body {
    background-color: $background;
}

.card_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .outer_card {
        position: relative;
        background-color: $button_text;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 24px;
    
        .inner_card{
            position: absolute;
            background-color: $white_card;
            width: 1017px;
            height: 600px;
            border-radius: 24px;
        }
    }
}

.main_title{
    display: block;

    .main_header{
        text-align: center;
        font-size: 24px;
        color: $button_text;
        font-family: Merriweather;
    }

    .desc {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Poppins;
        font-size: 16px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items:center;

        .ul_radio {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            height: 32px;

            li .bttn {
                display: flex;
                justify-content: center;
                background-color: $button_background;
                border-radius: 20px;
                padding-inline: 8px;

                label {
                    display: block;
                    color: $button_text;
                    font-family: Poppins;
                    font-size: 16px;
                    text-align: center;
                    cursor: pointer;
                    padding-left: 8px;
                }
    
                input[type="radio"] {
                    display: none;
                }
            }
        }
    }
}



.personnel_cards {
    .ul_people {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 24px;

        .arrow_div {
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .people_form {
            .ul_form {
                list-style: none;

                .li_photo {
                    text-align: center;
                }

                .li_name {
                    color: $button_text;
                    font: bold;
                    font-family: Merriweather;
                    text-align: center;
                }

                .li_job {
                    color: $button_text;
                    font-family: Poppins;
                    text-align: center;
                }

                .li_view_content {
                    text-align: center;
                }
            }
        }
    }
}